@model KeyValuePair<string, List<TaskModel>>

@inject IViewLocalizer Localizer

<div class="container-flex h-auto w-100" id="@Model.Key" style="min-height:100%;">

    @if (Model.Value.Count() != 0)
    {

        @foreach (var task in Model.Value)
        {

            <div class="card mb-2" data-id="@task.Id">

                <div class="card-header d-flex bg-dark justify-content-between p-2">

                    <div class="w-auto" style="max-width:250px" data-toggle="tooltip" data-placement="bottom" title="@task.TaskTitle">
                        <form action="/Tasks/TaskDetails" method="get" data-ajax-method="get" data-ajax="true" data-ajax-success="openDetailsModal()"
                              data-ajax-mode="replace-with" data-ajax-update="#task-details" data-ajax-complete="autoTextarea()">
                            <input type="hidden" name="taskId" value="@task.Id" />
                            <button type="submit" class="p-0 m-0 h6 text-limit text-primary border-0">@task.TaskTitle</button>
                        </form>
                    </div>

                    <div class="dropdown dropright">

                        <div id="task-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h px-2"></i>
                        </div>

                        <div class="dropdown-menu bg-dark text-center position-absolute" aria-labelledby="task-menu">

                            <form method="post" action="/Tasks/Delete" data-ajax="true" asp-antiforgery="true" data-ajax-method="post"
                                  data-ajax-mode="replace-with" data-ajax-update="#tasks-container" data-ajax-complete="enableDragula()"
                                  class="w-auto">

                                <input type="hidden" name="taskId" value="@task.Id" />

                                <button type="submit" class="dropdown-item text-danger">@Localizer["Delete"]</button>

                            </form>

                        </div>

                    </div>

                </div>

                <div class="card-body bg-dark p-2">
                    <p class="m-0">@task.TaskDescription</p>
                </div>

            </div>
        }

    }

</div>

