@model List<TaskModel>

@inject IViewLocalizer Localizer

<style>
    .limited-text {
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }
</style>

<div class="container-flex h-100 w-100">

    @if (Model != null && Model.Count() != 0)
    {

        @foreach (var task in Model)
        {
            <div class="card mb-3">

                <div class="card-header">
                    <div class="row justify-content-between">
                        <h6 class="w-50 limited-text" data-toggle="tooltip" data-placement="bottom" title="@task.TaskTitle">@task.TaskTitle</h6>
                        <h6 class="" style="text-align:right; width:fit-content;">Due Date: @task.DueDate.ToShortDateString()</h6>
                    </div>
                </div>

                <div class="card-body">
                    <p>@task.TaskDescription</p>
                </div>

                <div class="card-footer">
                    <div class="row justify-content-center">


                        @if (task.TaskState == Core.Enums.TaskState.New)
                        {
                            <form method="post" action="/Tasks/InProgress" data-ajax="true" asp-antiforgery="true" style="width:fit-content"
                                  data-ajax-method="post" data-ajax-mode="replace-with" data-ajax-update="#tasks-container">

                                <input type="hidden" name="taskid" value="@task.Id" />

                                <button type="submit" class="dropdown-item text-secundary">
                                    <b>@Localizer["WorkingOn"]</b>
                                </button>
                            </form>
                        }

                        @if (task.TaskState == Core.Enums.TaskState.InProgress)
                        {
                            <form method="post" action="/Tasks/Done" data-ajax="true" asp-antiforgery="true" style="width:fit-content"
                                  data-ajax-method="post" data-ajax-mode="replace-with" data-ajax-update="#tasks-container">

                                <input type="hidden" name="taskid" value="@task.Id" />

                                <button type="submit" class="dropdown-item text-success">
                                    <b>@Localizer["Complete"]</b>
                                </button>
                            </form>
                        }

                        <form method="post" action="/Tasks/Delete" data-ajax="true" asp-antiforgery="true" style="width:fit-content"
                              data-ajax-method="post" data-ajax-mode="replace-with" data-ajax-update="#tasks-container">

                            <input type="hidden" name="taskId" value="@task.Id" />

                            <button type="submit" class="dropdown-item text-danger">
                                <b>@Localizer["Delete"]</b>
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        }

    }

</div>

