@model KeyValuePair<string, List<TaskModel>>

@inject IViewLocalizer Localizer

<style>
    .limited-text {
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }
</style>

<div class="container-flex h-auto w-100" id="@Model.Key" style="min-height:100%;">

    @if (Model.Value.Count() != 0)
    {

        @foreach (var task in Model.Value)
        {

            <div class="card mb-2" data-id="@task.Id">

                <div class="card-header bg-dark">
                    <div class="row justify-content-between">
                        <h6 class="w-50 limited-text" data-toggle="tooltip" data-placement="bottom" title="@task.TaskTitle">@task.TaskTitle</h6>
                    </div>
                </div>

                <div class="card-body bg-dark">
                    <p>@task.TaskDescription</p>
                </div>

                @*<div class="card-footer">
                    <div class="row justify-content-center">
                        <form method="post" action="/Tasks/Delete" data-ajax="true" asp-antiforgery="true" style="width:fit-content"
                              data-ajax-method="post" data-ajax-mode="replace-with" data-ajax-update="#tasks-container" data-ajax-complete="enableDragula()">

                            <input type="hidden" name="taskId" value="@task.Id" />

                            <button type="submit" class="dropdown-item text-danger">
                                <b>@Localizer["Delete"]</b>
                            </button>
                        </form>
                    </div>
                </div>*@

            </div>
        }

    }

</div>

