@inject IAuthorizationService AuthorizationService
@inject IViewLocalizer Localizer

<style>
    #select-member::-webkit-calendar-picker-indicator {
        display: none !important;
    }
</style>

<div class="row border rounded align-items-center mb-3 p-1 justify-content-around" style="font-size:1.1rem; width:130px;" data-toggle="modal" data-target="#createTaskModal">
    <i style="width:fit-content;" class="fas fa-plus p-0"></i>
    <p style="width:fit-content;" class="p-0 m-0">New Task</p>
</div>

<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Localizer["New Task"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="post" data-ajax="true" asp-controller="Tasks" data-ajax-method="post" data-ajax-mode="replace-with"
                      data-ajax-update="#tasks-container" data-ajax-complete="closeModal()">

                    <div class="mb-3">
                        <label for="taskTitle" class="form-label">@Localizer["Title"]</label>
                        <input type="text" name="title" class="form-control" id="taskTitle" aria-describedby="taskTitleHelp">
                    </div>

                    <div class="mb-3">
                        <label for="taskDescription" class="form-label">@Localizer["Description"]</label>
                        <textarea name="description" class="form-control" id="taskDescription"></textarea>
                    </div>


                    <div class="d-flex flex-row justify-content-around align-items-center mb-3">

                        <div class="d-flex flex-column">
                            <label for="taskDescription" class="form-label">@Localizer["Due Date"]</label>
                            <input type="date" name="dueDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                        </div>

                        @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                        {

                            <div class="d-flex flex-column">
                                <label for="taskDescription" class="form-label">@Localizer["Assign To"]</label>
                                <div>
                                    <input id="select-member" name="assignTo" autoComplete="on" list="members" />
                                    <datalist id="members">
                                        <vc:search-member />
                                    </datalist>
                                </div>
                            </div>
                        }

                    </div>

                    <button type="submit" class="btn btn-primary">@Localizer["Create"]</button>

                </form>

            </div>
        </div>
    </div>
</div>