@model TaskBase.Components.Models.TaskRowModel

<div class="col-sm h-auto border mx-1 p-0 rounded overflow-hidden" style="max-height: 85vh; min-height:85vh" 
     id="@Model.ComponentCustomization.Id">

    <div class="p-3 rounded-top row justify-content-around align-items-center @Model.ComponentCustomization.BgColor"
         style="min-height:68px">
        <h5 class="mb-0 text-center text-white w-50">@Model.ComponentCustomization.RowName</h5>

        @if(Model.ComponentCustomization.HasTaskCreationButton is true)
        {
            @await Component.InvokeAsync("Modal")
        }
    </div>

    <div class="p-3 w-auto overflow-auto" style="height:95%">

        <table class="container p-3 w-100 h-100">
            <tbody class="connectedSortable p-3 ui-sortable">

                @if (Model.Tasks != null && Model.Tasks.Count() != 0)
                {
                    foreach (var task in Model.Tasks)
                    {
                        <tr class="card mb-3">
                            <td class="d-flex flex-row card-header">
                                <h6 class="w-50">@task.TaskTitle</h6>
                                <div class="dropdown w-50 d-flex flex-row justify-content-end">
                                    <div type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if(task.TaskState != Core.Enums.TaskState.Completed)
                                        {
                                            <form method="post" asp-page-handler="done" asp-route-taskId="@task.Id">
                                                <button type="submit" class="dropdown-item">
                                                    Done
                                                </button>
                                            </form>
                                        }

                                        <form method="post" asp-page-handler="delete" asp-route-taskId="@task.Id">
                                            <button type="submit" class="dropdown-item">
                                                <b style="color:red;">Delete</b>
                                            </button>
                                        </form>



                                    </div>
                                </div>
                            </td>
                            <td class="card-body">
                                <p>@task.TaskDescription</p>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

    </div>

</div>